@import './config/paths';
@import './config/colors';
@import './config/typography';
/*
 *
 */
@import './helpers/mixins/list';
/*
 * Vendor styles
 */
@import "./vendor/bootstrap/scss/functions";
@import "./vendor/bootstrap/scss/variables";
@import "./vendor/bootstrap/scss/mixins";


$custom-colors: (
	primary: $c_main
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import './vendor/bootstrap/scss/bootstrap';
//@import './vendor/choices-js/choices';
@import "./vendor/vue-toast-notification/theme-bootstrap";

/*
 * global styles
 */
@import './elements/site';
@import './elements/site-header/index';
@import './elements/site-footer/index';
@import './elements/buttons';
@import './elements/forms';
@import './elements/donation-amounts';
@import './elements/layout';
/*
* Component styles
*/


/*
* Templates styles
*/
@import './elements/templates/my-account/index';
@import './elements/templates/donation';
@import './elements/templates/faq';
@import './elements/templates/contact';
