/* =========================================
		Color Index
   ========================================= */
/**
 * Prefix colors with $c_ this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

$c_black: #000;
$c_white: #fff;
$c_grey_light: #F0F0F0;
$c_main: #D91A21;
$c_body: #252525;

// 2026 redesign palette
$c_dark: #1C1C1C;
$c_beige: #EBE7E2;
$c_offwhite: #F8F4F3;
$c_pink: #EEBEB1;
$c_grey: #747272;
$c_grey_step: #D1CECA;
$c_grey_divider: #DDDDDD;
