/* =========================================
		Typography
   ========================================= */
/**
 * Prefix typography vars with $t_
 * to make them easier to find with
 * autocomplete
 *
 */

 @font-face {
   font-family: 'Century Gothic';
   src: url('#{$p_fonts}CenturyGothic.woff2') format('woff2'),
       url('#{$p_fonts}CenturyGothic.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

$base_font: 'Century Gothic', sans-serif;
$manrope_font: 'Manrope', sans-serif;
